* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fb8500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#main {
    height: 510px;
    width: 390px;
    background-color: #000;
    font-size: 40px;
    border-radius: 10px;
}

#display {
    width: 360px;
    height: 75px;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

button {
    height: 100px;
    width: 90px;
    border: 1px solid black;
    font-size: 25px;
}

button:hover {
    cursor: pointer;
    background-color: #d9d9d9;
}

button.operator:hover {
    background-color: #fca311;
}

.columns {
    display: flex;
}

.operator {
    background-color: #ffb703;
}